@charset "utf-8";
@import url(fonts.css);

/* 공통요소 */

.inner {
    width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 42px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}
a {
    display: block;
    height: 100%;
}

/* header */



header .inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

header .logo h1 {
    display: inline-block;
    width: 230px;
    height: 120px;
    margin-top: 20px;
    background: url(../img/header/logo.png) no-repeat center/contain;
}

header .logo h1 a {
    display: block;
    width: 100%;
    height: 100%;
}

header .tnb {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
header span:hover{
    color: #000;
}



header .tnb span {
    display: inline-block;
    margin-left: 20px;
    font-weight: light;
}

.notice-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 58px;
    left: 0px;
}

.notice {
    width: 200px;
    height: 50px;
    overflow: hidden;
}

.rolling {
    position: relative;
    width: 100%;
    height: auto;
}

.rolling li {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    text-align: left;
}

.rolling .call span {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
}

.rolling .call img {
    position: absolute;
    bottom: 30px;
    right: 35px;
    width: 20px;
    height: 20px;
}
/* gnb_area */

.gnb_area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.gnb_area .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb_area .gnb li {
    width: 120px;
}
.gnb_area .gnb>li:hover a {
    color: #028C6A;
    font-weight: 600;
}
.gnb_area .gnb li a {
    display: block;
    height: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    color: #000;
}
.search_area {
    position: absolute;
    top: 64px;
    right: 0;
}

form {
    width: 240px;
    height: 40px;
}

form input{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height:100%;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding:0  10px;
    box-sizing: border-box;
}
form button{
    border:none;
background:transparent;

}
button img {
    position: relative;
    top: -33px;left: 95px;
   
}

/* main 슬라이드 */
.main_swiper {
    height: 621px;
    position: relative;
}

.main_swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
}

.main_swiper .swiper-slide {
    width: 100%;
    height: 600px;
}

.main_swiper .swiper-slide01 {
    background: url(../img/main/mainslide01.png) no-repeat center/cover;
}

.main_swiper .swiper-slide01 .main_text01 {
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    top: 37%;
    left: 18%;
}

.main_swiper .swiper-slide01 button {
    position: absolute;
    top: 60%;
    left: 35%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #fff url(../img/main/mainslide_arrow.png) no-repeat center /25px 25px;
    cursor: pointer;
}
.main_swiper .swiper-slide01 button:hover {
    background: #60BE96 url(../img/main/mainslide_arrow.png) no-repeat center /25px 25px;
}
.main_swiper .swiper-slide02 {
    background: url(../img/main/mainslide02.png) no-repeat center/cover;
}

.main_swiper .swiper-slide02 img {
    display: block;
    width: 380px;
    height: 50px;
}

.main_swiper .swiper-slide02 .dyson {
    position: absolute;
    top: 20%;
    left: 20%;
}

.main_swiper .swiper-slide02 .main_text02 {
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    top: 45%;
    left: 20%;
}

.main_swiper .swiper-slide02 .main_text02>span {
    display: block;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 30px;
}

.main_swiper .swiper-slide02 button {
    position: absolute;
    top: 65%;
    left: 35%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #fff url(../img/main/mainslide_arrow.png) no-repeat center /25px 25px;
    cursor: pointer;
}
.main_swiper .swiper-slide02 button:hover {
    background: #60BE96 url(../img/main/mainslide_arrow.png) no-repeat center /25px 25px;
}
.main_swiper .swiper-slide03 {
    background: url(../img/main/mainslide03.png) no-repeat center/cover;
}

.main_swiper .swiper-slide03 .main_text03 {
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    top: 30%;
    left: 20%;
}

.main_swiper .swiper-slide03 .main_text03>span {
    display: block;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 30px
}

.main_swiper .swiper-slide03 button {
    position: absolute;
    top: 70%;
    left: 35%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #fff url(../img/main/mainslide_arrow.png) no-repeat center /25px 25px;
    cursor: pointer;
}

.main_swiper .swiper-slide03 button:hover {
    background: #60BE96 url(../img/main/mainslide_arrow.png) no-repeat center /25px 25px;
}
.main_swiper .swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.8);
}

.main_swiper .swiper-button-next {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.8);
}

#wrap .main_swiper .swiper-pagination {
   display: none;
}





/* section01 brand_swiper */

#section01 {
    padding: 130px 0;
}

#section01 .swiper-wrapper .swiper-slide {
    display: block;
    height: 240px;
    position: relative;
}

#section01 .brand_swiper .swiper-wrapper .swiper-slide figure {
    display: block;
    width: 240px;
    height: 240px;
    border-radius: 20px;
}

#section01 .brand_swiper .brand_swiper_inner {
    width: 1350px;
}

#section01 .brand_swiper .swiper-pagination {
    bottom: 0px;
}

.brand-slide01>figure {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/section01/apple.jpg) no-repeat center/cover;
}

.brand-slide01>figure img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.brand-slide02>figure {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/section01/samsung.jpg) no-repeat center/cover;
}

.brand-slide02>figure img {
    width: 90px;
    height: 90px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.brand-slide03>figure {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/section01/lg.jpg) no-repeat center/cover;
}

.brand-slide03>figure img {
    width: 80px;
    height: 35px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.brand-slide04>figure {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/section01/logitech.jpg) no-repeat center/cover;
}

.brand-slide04>figure img {
    width: 70px;
    height: 70px;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}


.brand-slide05>figure {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/section01/asus.jpg) no-repeat center/cover;
}

.brand-slide05>figure img {
    width: 100px;
    height: 100px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.brand-slide06>figure {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/section01/microsoft.jpg) no-repeat center/cover;
}

.brand-slide06>figure img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.brand-slide07>figure {
    background: linear-gradient(rgba(0, 0, 0, 0.327), rgba(0, 0, 0, 0.3)), url(../img/section01/sony.jpg) no-repeat center/cover;

}

.brand-slide07>figure img {
    width: 100px;
    height: 100px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.brand-slide08>figure {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/section01/mi.jpg) no-repeat center/cover;
}

.brand-slide08>figure img {
    width: 70px;
    height: 70px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.brand-slide09>figure {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/section01/nikon.jpg) no-repeat center/cover;
}

.brand-slide09>figure img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}




/* category */
#category {
    padding: 130px 0;
    background: url(../img/section02/sec02bg.png);

}
#category  .swiper-button-prev {
    color: rgba(0, 0, 0, 0.8);
}
#category  .swiper-button-next {
    color: rgba(0, 0, 0, 0.8);
}
#category .swiper-wrapper .swiper-slide .number {
    position: absolute;
    top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #b6b6b6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #fff;
}
#category .category_swiper .swiper-slide-active > figure .number {
    background-color: #077187;
}


.swiper-wrapper .swiper-slide .itemN {
    position: absolute;
    bottom: -4px;
    right: -60px;
    font-size: 30px;
}

.swiper-wrapper .swiper-slide .itemN>.price {
    display: block;
    font-size: 24px;
}

/* small_box */

.small_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.small_box>div {
    cursor: pointer;
    user-select: none;
    opacity: 0.4;
}

.small_box>div.on {
   opacity: 1;
   color: #028C6A;
   font-weight: 500;
}

.small_box .bdBox {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* categoryRank */
#category .category_swiper_area {
    height: 300px;
    position: relative;
}

#category .category_swiper {
    visibility: hidden;
    position: absolute;
    top: 0;
}

#category .category_swiper.on {
    visibility: visible;
}

#category .category_swiper .swiper-slide {
    display: block;
    position: relative;
}

#category .category_swiper .swiper-slide figure {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#category .category_swiper .swiper-slide-active > figure {
    background-color: #81BFC1;
}

#category .category_swiper .category_swiper_inner {
    width: 1200px;
    position: relative;
}

#category .category_swiper .category_swiper_inner>.swiper-slide__content {
    position: absolute;
    top: 0;
}

#category .category_swiper .category_swiper_inner .swiper-slide {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
    transform: scale(0.8);

}

#category .category_swiper .category_swiper_inner .swiper-slide.swiper-slide-active {
    transform: scale(1);
}

#category .category_swiper .category_swiper_inner .swiper-slide__content {
    height: 300px;
}

#category .category_swiper .swiper-pagination {
    bottom: 0px;
}



/* timesale */
#timesale {
    margin: 50px;
}

#timesale>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

#timesale .sale {
    width: 18%;

}

#timesale .sale>figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#timesale .item01>figure {
    background: #77B0C5 url(../img/sale/삼성갤럭시Z플립3256GB라벤더.png) no-repeat center/330px 330px;
}

#timesale .item02>figure {
    background: #F8CE67 url(../img/sale/애플에어팟유선\ 충전2세대.png) no-repeat center/270px 270px;
}

#timesale .item03>figure {
    background: #60BE96 url(../img/sale/애플아이폰13미니128기가그린.png) no-repeat center/260px 260px;
}

#timesale .sale>.itemname {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
}

#timesale .sale>.itemname strong {
    font-size: 24px;
    font-weight: 600;
}

#timesale .sale>.discount {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #FF3131;

}

#timesale .sale>.discount>s {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
}

#timesale .sale>.price {
    font-size: 18px;
    font-weight: 500;
}


/* time */
#timesale .time {
    width: 18%;
}

#timesale .time h3 {
    font-size: 44px;
    color: #028c6a;
    margin-bottom: 40px;
}

#timesale .time .subtext01 {
    font-size: 40px;
    font-weight: bold;
    color: #7bc5ae;
    margin-bottom: 30px;
}

#timesale .time .subtext02 {
    font-size: 36px;
    font-weight: 600;
    color: #FF3131;
    margin-bottom: 40px;
}

#timesale .time .subtext02>span {
    font-size: 40px;
    font-weight: bold;

}

#timesale .time #countdown {
    margin-bottom: 30px;
}

#timesale .time #countdown span {
    font-size: 16px;
    font-weight: 500;
}

#timesale .time #countdown .timetext {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
}
#line {
    width: 100%;
    height: 8px;
    background-color: red;

    position: relative;
}
#line_inner {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
/* #line::before {
    position: absolute;
    content: '';
    width: 8px; height: 8px;
    background: red;
    border-radius: 50%;
    top: 50%; right: -50%;
    transform: translateY(-50%);
    border: 1px solid red;
}
#line::after {
    position: absolute;
    content: '';
    width: 4px; height: 4px;
    background: #fff;
    border-radius: 50%;
    top: 50%; right: -36%;
    transform: translate(-50%, -50%);
} */
#line::after {
    position: absolute;
    content: '';
    top: 50%; right: -5px;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    border-left: 10.6px solid red; /* 삼각형의 높이를 조절할 수 있습니다. */
    border-right: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
#timesale .time button {
    padding: 10px 20px;
    box-sizing: border-box;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    background: #000;
    border-radius: 4px;

}



/* direction */

#direction {
    padding: 130px 0;
    background: url(../img/section04/eventBg\ \(2\).jpg) no-repeat center/cover fixed;
    text-align: center;

}

#direction .title {
    font-size: 64px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;

}

#direction .text {
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
}

#direction button {
    padding: 10px 20px;
    box-sizing: border-box;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    background: #706d6d;
    border-radius: 4px;
}
#direction button:hover {
    background-color: #26405C;
}

/* qna */
#qna {
    padding: 130px 0;
}

.qnabox_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qnabox_area .box1 {
    text-align: center;
    width: 230px;
}

.qnabox_area .box1 h3 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
}

.qnabox_area .box1 strong {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
    display: block;
}

.qnabox_area .box1 .text {
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 41px;
}

.qnabox_area .box1 button {
    padding: 10px 20px;
    box-sizing: border-box;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    background: #000000;
    border-radius: 4px;
}

.qnabox_area .ask {
    position: relative;
    width: 280px;
    height: 300px;
    border-radius: 8px;
    padding: 0 20px;
    box-sizing: border-box;
    transition: all 1s;
}
.qnabox_area .ask:hover {
    top: -30px;
}

.qnabox_area .ask .B_text {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-top: 40px;
}

.qnabox_area .ask .M_text {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-top: 25px;
}

.qnabox_area .ask .S_text {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
    margin-top: 35px;
}

.qnabox_area img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
}

.box03 img {
    width: 50px;
    height: 50px;
}

.qnabox_area .box02 {
    background: #028C6A;
}

.qnabox_area .box03 {
    background: #81BFC1;
}

.qnabox_area .box04 {
    background: #26405C;
}

/* footer */
footer{
    background: rgba(0, 0, 0, 0.3);
}
footer> .inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    color: #fff;
}
.logo_sns .logo {
    margin-bottom: 20px;
    margin-left: 10px;
}
.logo_sns .logo img {
    width: 200px;
    height: 70px;
}
.logo_sns .sns {
    display: flex;
    justify-content: space-between;
    width: 170px;
    padding: 0 30px;
}
.logo_sns .sns img {
    width: 35px;
    height: 35px;
}
.menu_info .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 360px;
}

.menu_info .menu li:last-child {
    margin-right: 0;
}

.menu_info .info{
    line-height: 1.5;
}
.menu_info .info span::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 13px;
    background: #fff;
    margin: 0 3px;
}
.service {
    text-align: center;
}
.service span {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    display: block;
}

.service  p {
    font-size: 18px;
    font-weight: 600;
}