@charset "utf-8";
@media screen and (max-width: 430px) {
   
    /* 공통요소 */

    .title {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .inner {
        width: 400px;
        margin: 0 auto;
    }

/* header */

header {
    margin-top: 0px;
}

header .logo h1 {
    width: 180px;
    height: 70px;
    margin-top: 0;
}

/* notice */

.notice {
   display: none;
}
/* search */
.search_area{
    display: none;
}

/* tnb */
header .tnb {
   display: none;
}


/* gnb_area */

.gnb_area {
 display: none;
}



/* main 슬라이드 */
.main_swiper {
    height: 400px;
}


.main_swiper .swiper-slide {
  width: 100%;
    height: 400px;
}

.main_swiper .swiper-slide01 {
    background:  linear-gradient(rgba(0, 0, 0, 0.627), rgba(0, 0, 0, 0.5)), url(../img/main/mainslide01.png) no-repeat center/cover ;
    background-position: -550px 0;
}

.main_swiper .swiper-slide01 .main_text01 {
    width: 350px;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.main_swiper .swiper-slide01 button {
    position: absolute;
    top: 60%;
    left: 70%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #fff url(../img/main/mainslide_arrow.png) no-repeat center /10px 10px;
    cursor: pointer;
}
.main_swiper .swiper-slide01 button:hover {
    background: #60BE96 url(../img/main/mainslide_arrow.png) no-repeat center /10px 10px;
}
.main_swiper .swiper-slide02 {
    background: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../img/main/mainslide02.png) no-repeat center/cover; 
    background-position: -610px 0;
}

.main_swiper .swiper-slide02 img {
   display: none;
}

.main_swiper .swiper-slide02 .main_text02 {
    font-size: 27px;
    top: 35%;
    left: 30%;
    text-align: center;
    color: #fff;
}

.main_swiper .swiper-slide02 .main_text02>span {
    font-size: 23px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

.main_swiper .swiper-slide02 button {
    top: 70%;
    left: 44%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #fff url(../img/main/mainslide_arrow.png) no-repeat center /10px 10px;
    cursor: pointer;
}
.main_swiper .swiper-slide02 button:hover {
    background: #60BE96 url(../img/main/mainslide_arrow.png) no-repeat center /10px 10px;
}
.main_swiper .swiper-slide03 {
    background:  linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/main/mainslide03.png) no-repeat center/cover;
    background-position: -620px 0;
}

.main_swiper .swiper-slide03 .main_text03 {
    font-size: 24px;
    color: #fff;
}

.main_swiper .swiper-slide03 .main_text03>span {
    font-size: 20px;
    color: #fff;
    margin-top: 30px
}

.main_swiper .swiper-slide03 button {
    top: 70%;
    left: 70%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #fff url(../img/main/mainslide_arrow.png) no-repeat center /10px 10px;
    cursor: pointer;
}

.main_swiper .swiper-slide03 button:hover {
    background: #60BE96 url(../img/main/mainslide_arrow.png) no-repeat center /10px 10px;
}
.main_swiper .swiper-button-prev {
  display: none;
}

.main_swiper .swiper-button-next {
  display: none;
}



/* section01 brand_swiper */

#section01 {
    padding: 100px 0;
}

#section01 .swiper-wrapper .swiper-slide {
    height: 200px;
}

#section01 .brand_swiper .swiper-wrapper .swiper-slide figure {
    width: 200px;
    height: 200px;
}

#section01 .brand_swiper .brand_swiper_inner {
    width: 1100px;
}

.brand-slide01>figure img {
    width: 40px;
    height: 40px;
}

.brand-slide02>figure img {
    width: 80px;
    height: 80px;

}

.brand-slide03>figure img {
    width: 65px;
    height: 30px;
}

.brand-slide04>figure img {
    width: 55px;
    height: 55px;
}


.brand-slide05>figure img {
    width: 85px;
    height: 85px;
}

.brand-slide06>figure img {
    width: 40px;
    height: 40px;
}

.brand-slide07>figure img {
    width: 85px;
    height: 85px;
}

.brand-slide08>figure img {
    width: 55px;
    height: 55px;
}


.brand-slide09>figure img {
    width: 45px;
    height: 45px;
}



/* category */

#category {
    padding: 100px 0;
}

#category  .swiper-button-prev {
    color: rgba(0, 0, 0, 0.8);
}
#category  .swiper-button-next {
    color: rgba(0, 0, 0, 0.8);
}

#category .swiper-wrapper .swiper-slide .number {
    top: 14px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.swiper-wrapper .swiper-slide .itemN {
    bottom: -3px;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    color: #000;
    right: 50%;
    transform: translateX(50%);
    
}

.swiper-wrapper .swiper-slide .itemN>.price {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-top: 5px;
    text-align: center;
}

/* small_box */

.small_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.small_box>div {
    cursor: pointer;
    user-select: none;
    opacity: 0.5;
}

.small_box>div.on {
    opacity: 1;
}

.small_box .bdBox {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 7px;
}

.small_box p {
    font-size: 15px;
}

/* timesale */
#timesale {
    margin: 30px 0;
}

#timesale>.inner {
display: block;
}

#timesale .sale {
    width: 100%;
}

#timesale .sale>figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
}

#timesale .item01>figure {
    background: #77B0C5 url(../img/sale/삼성갤럭시Z플립3256GB라벤더.png) no-repeat center/330px 330px;
}

#timesale .item02>figure {
    background: #F8CE67 url(../img/sale/애플에어팟유선\ 충전2세대.png) no-repeat center/270px 270px;
}

#timesale .item03>figure {
    background: #60BE96 url(../img/sale/애플아이폰13미니128기가그린.png) no-repeat center/260px 260px;
}

#timesale .sale>.itemname {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
    display: block;
}

#timesale .sale>.itemname strong {
    font-size: 24px;
    font-weight: 600;
    display: block;
}

#timesale .sale>.discount {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #FF3131;

}

#timesale .sale>.discount>s {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
}

#timesale .sale>.price {
    font-size: 18px;
    font-weight: 500;
}



}