@charset "utf-8";
@import url(fonts.css);


/* 공통요소 */

.inner {
    width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 42px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}
a {
    display: block;
    height: 100%;
}

/* header */

header {
    margin-top: 30px;
}

header .inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

header .logo h1 {
    display: inline-block;
    width: 230px;
    height: 120px;
    margin-top: 20px;
    background: url(../img/header/logo.png) no-repeat center/contain;
}

header .logo h1 a {
    display: block;
    width: 100%;
    height: 100%;
}

header .tnb {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}



header .tnb span {
    display: inline-block;
    margin-left: 20px;
    font-weight: light;
}

.notice-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 0px;
}

.notice {
    width: 200px;
    height: 80px;
    overflow: hidden;
}

.rolling {
    position: relative;
    width: 100%;
    height: auto;
}

.rolling li {
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    text-align: left;
}

.rolling .call span {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
}

.rolling .call img {
    position: absolute;
    bottom: 15px;
    right: 35px;
    width: 20px;
    height: 20px;
}
/* gnb_area */

.gnb_area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 15px;
}

.gnb_area .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb_area .gnb li {
    width: 120px;
}

.gnb_area .gnb li a {
    display: block;
    height: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    color: #000;
}
.search_area {
    position: absolute;
    top: 58px;
    right: 0;
}

form {
    width: 240px;
    height: 40px;
}

form input{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height:100%;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding:0  10px;
}
form button{
    border:none;
background:transparent;

}
button img {
    position: relative;
    top: -33px;left: 100px;
   
}

/* 섹션 공통 */
section {
    padding: 130px 0;
    box-sizing: border-box;
}
.sub2_wrap .sub2_section_tText {
    font-size: 42px;
    font-weight: bold;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
}
.sub2_wrap .sub2_section_cont1 {
    width: 100%;
    height: 100%;
    display: flex;
}
.sub2_wrap .sub2_section_cont1 .sub2_section_cont1_left {
    width: 400px;
    height: 100%;
}
.sub2_wrap .sub2_num {
    font-size: 40px;
    font-weight: 600;
    color: #0093fe;
    margin-bottom: 30px;
}
.sub2_wrap .sub2_top_text {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    margin-bottom: 30px;
}
.sub2_wrap .sub2_mid_text {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    opacity: 0.85;
    margin-bottom: 30px;
}
.sub2_wrap .sub2_section_cont1 .sub2_section_botArea {
    width: 400px; height: 100%;
}
.sub2_wrap .sub2_section_botArea_cont {
    width: 430px;
    height: 90px;
    background: transparent;
    border-radius: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.sub2_wrap .sub2_section_botArea_cont.on {
    background: #0093fe;
}
.sub2_wrap .sub2_section_botArea_cont:last-child {
    margin-bottom: 0px;
}
.sub2_wrap .sub2_section_cont1 .sub2_num_icon {
    background: no-repeat center/cover;
    margin-right: 20px;
    width: 50px; 
    height: 50px;
}
.sub2_wrap .sub2_section_cont1  .sub2_section_botArea .sub2_section_botArea_cont:nth-child(1) .sub2_num_icon {
    background-image: url(../img/sub2_img/icon_1.png);
}
.sub2_wrap .sub2_section_cont1  .sub2_section_botArea .sub2_section_botArea_cont:nth-child(2) .sub2_num_icon {
    background-image: url(../img/sub2_img/icon_2.png);
}
.sub2_wrap .sub2_section_cont1  .sub2_section_botArea .sub2_section_botArea_cont:nth-child(3) .sub2_num_icon {
    background-image: url(../img/sub2_img/icon_3.png);
}
.sub2_wrap .sub2_bot_text {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    opacity: 0.85;
}
.sub2_wrap .sub2_section_botArea_cont.on .sub2_bot_text {
    color: #fff;
    opacity: 1;
}
.sub2_wrap .sub2_section_cont1  .sub2_bot_icon {
    background: url(../img/sub2_img/previous_right.png) no-repeat center/cover;
    width: 40px; 
    height: 40px;
    position: absolute;
    top: 50%; right: 20px;
    transform: translateY(-50%);
    opacity: 0;
}
.sub2_wrap .sub2_section_botArea_cont.on .sub2_bot_icon {
    opacity: 1;
}
.sub2_wrap .sub2_section_cont1 .sub2_section_cont1_right {
    width: 800px;
    height: 533px;
    background: url(../img/sub2_img/section01_01.png) no-repeat center/cover;
}
/* section2는 예외 */
.sub2_wrap .sub2_section_cont2 {
    width: 100%;
    height: 100%;
    display: flex;
}
.sub2_wrap .sub2_section_cont2 .sub2_section_cont2_left {
    width: 800px;
    height: 533px;
    background: url(../img/sub2_img/section01_01.png) no-repeat center/cover;
}
.sub2_wrap .sub2_section_cont2 .sub2_section_cont2_right {
    width: 400px;
    height: 533px;
    position: relative;
    text-align: right;
}
.sub2_wrap .sub2_section_cont2 .sub2_section_cont2_right .sub2_section_botArea {
    position: absolute;
    right: 0;
}
.sub2_wrap .sub2_section_cont2 .sub2_section_botArea_cont {
    justify-content: flex-end;
}
.sub2_wrap .sub2_section_cont2 .sub2_num_icon {
    background: no-repeat center/cover;
    margin-left: 20px;
    width: 50px; 
    height: 50px;
}
.sub2_wrap .sub2_section_cont2 .sub2_section_botArea .sub2_section_botArea_cont:nth-child(1) .sub2_num_icon {
    background-image: url(../img/sub2_img/icon_1.png);
}
.sub2_wrap .sub2_section_cont2 .sub2_section_botArea .sub2_section_botArea_cont:nth-child(2) .sub2_num_icon {
    background-image: url(../img/sub2_img/icon_2.png);
}
.sub2_wrap .sub2_section_cont2 .sub2_section_botArea .sub2_section_botArea_cont:nth-child(3) .sub2_num_icon {
    background-image: url(../img/sub2_img/icon_3.png);
}
.sub2_wrap .sub2_section_cont2 .sub2_bot_icon {
    background: url(../img/sub2_img/previous_left.png) no-repeat center/cover;
    width: 40px; 
    height: 40px;
    position: absolute;
    top: 50%; left: 20px;
    transform: translateY(-50%);
    opacity: 0;
}
/* mainImg_area */
.sub2_wrap .sub2_mainImg {
    width: 100vw;
    height: 600px;
    background: url(../img/sub2_img/sub2_main.png) no-repeat center/cover;
}
.sub2_mainImg > .inner {
    height: 100%;
    display: flex;
    align-items: center;
}
.sub2_mainImg .sub2_mainText1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
}
.sub2_mainImg .sub2_mainText2 {
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 50px;
}
.sub2_mainImg .sub2_mainText3 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

/* section04 */
.sub2_wrap .sub2_sec4_topArea {
    text-align: center;
}
.sub2_sec4_topArea .sub2_sec4_tText1 {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    opacity: 0.85;
    margin-bottom: 50px;
}
.sub2_sec4_topArea .sub2_sec4_iconArea {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    position: relative;
    margin-bottom: 20px;
}
.sub2_sec4_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 0; left: 39%;
    transform: translateX(-50%);
}
.sub2_sec4_icon2 {
    background: #999;
    top: 0; left: 50%;
    transform: translateX(-50%);
}
.sub2_sec4_icon3 {
    background: #b2b2b2;
    top: 0; left: 61%;
    transform: translateX(-50%);
}
.sub2_sec4_icon > span {
    display: block;
    width: 100px;
    height: 100px;
    background: url(../img/sub2_img/ms.png) no-repeat center/cover;
}
.sub2_sec4_icon .sub2_sec4_icon2_2 {background-image: url(../img/sub2_img/ey.png)}
.sub2_sec4_icon .sub2_sec4_icon3_3 {background-image: url(../img/sub2_img/th.png)}
.sub2_sec4_topArea .sub2_sec4_tText2 {
    font-size: 18px;
    font-weight: 400;
    color: #0093fe;
    opacity: 0.8;
    margin-bottom: 50px;
}
.sub2_wrap .sub2_sign {
    background: url(../img/sub2_img/sign_big.png) no-repeat center/cover;
    width: 400px;
    height: 130px;
    position: absolute;
    top: 150px; left: 50%;
    transform: translateX(-50%);
}

.sub2_sec04 .sub2_sec4_midArea {
    display: flex;
    margin-bottom: 50px;
}
.sub2_sec04 .sub2_sec4_midArea .sub2_sec4_area {
    text-align: center;
    width: 100%;
    position: relative;
}
.sub2_sec04 .sub2_sec4_midArea .sub2_sec4_area::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 320px;
    background: #000;
    opacity: 0.2;
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
}
.sub2_sec04 .sub2_sec4_midArea .sub2_sec4_area:last-child:after {
    display: none;
}
.sub2_sec4_1_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.sub2_sec4_1_icon2 {
    background: #999;
}
.sub2_sec4_1_icon3 {
    background: #b2b2b2;
}
.sub2_sec4_1_icon > span {
    display: block;
    width: 100px;
    height: 100px;
    background: url(../img/sub2_img/ms.png) no-repeat center/cover;
}
.sub2_sec4_1_icon .sub2_sec4_1_icon2_2 {background-image: url(../img/sub2_img/ey.png)}
.sub2_sec4_1_icon .sub2_sec4_1_icon3_3 {background-image: url(../img/sub2_img/th.png)}



.sub2_sec4_area .sub2_name {
    font-size: 28px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.sub2_sec4_area .sub2_name_title {
    font-size: 17px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    opacity: 0.85;
}
.sub2_sec4_area .sub2_name_title .sub2_sec4_color {color: #0093fe;}
.sub2_sec4_botArea {display: flex;}
.sub2_sec4_botArea .sub2_section_cont1_left {
    width: 800px;
    height: 533px;
    background: url(../img/sub2_img/section04_01.png) no-repeat center/cover;
}
.sub2_sec4_botArea .sub2_section_cont1_right {
    width: 400px;
    height: 533px;
    padding: 60px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sub2_section_cont1_right .sub2_text_top {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    opacity: 0.85;
    line-height: 1.5;
}
.sub2_section_cont1_right .sub2_sec4_signArea {
    box-sizing: border-box;
    padding-bottom: 30px;
    border-bottom: 2px solid #0093fe;
    position: relative;
}
.sub2_sec4_signArea .sub2_text_bot1 {
    font-size: 24px;
    font-weight: 600;
    color: #0093fe;
}
.sub2_sec4_signArea .sub2_text_bot2 {
    font-size: 22px;
    font-weight: 500;
    color: #0093fe;
    opacity: 0.9;
}
.sub2_sec4_signArea .sub2_sec4_sign {
    background: url(../img/sub2_img/sign_small.png) no-repeat center/cover;
    position: absolute;
    top: -50px; right: 0;
    width: 170px;
    height: 160px;
}
footer{
    background: rgba(0, 0, 0, 0.3);
}
footer> .inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    color: #fff;
}
.logo_sns .logo {
    margin-bottom: 20px;
}
.logo_sns .logo >img {
    width: 230px;
    height: 50px;
}
.logo_sns .sns {
    display: flex;
    justify-content: space-between;
    width: 170px;
    padding: 0 30px;
}
.logo_sns .sns >img {
    width: 35px;
    height: 35px;
}
.menu_info .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 360px;
}

.menu_info .menu li:last-child {
    margin-right: 0;
}

.menu_info .info{
    line-height: 1.5;
}
.menu_info .info span::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 13px;
    background: #fff;
    margin: 0 3px;
}
.service {
    text-align: center;
}
.service >span {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    display: block;
}

.service > p {
    font-size: 18px;
    font-weight: 600;
}